---
---

@import "{{ site.theme }}";
h1 {
  font-size: 2.6em;
}

a {
  font-weight: bold;
  color: #474747;
}

header {
  padding-top: 35px;
  padding-bottom: 10px;
}

header h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  color: #FFFFFF;
  letter-spacing: -1px;
}


aside#sidebar {
  padding-top: 60px;
  line-height: 1.3;
}
