---
---

@import "{{ site.theme }}";
h1 {
  font-size: 2.6em;
}

a {
  font-weight: bold;
  color: #474747;
}

header {
  padding-top: 35px;
  padding-bottom: 10px;
}

header h1 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  color: #D0D0D0;
  letter-spacing: -1px;
}
